<section class= "loggin">
<h5>Madedera Guariche</h5>
<input class="controls" type="text" name="usuario" value="" placeholder="usuario">
<input class="controls" type="password" name="contrase単a" value="" placeholder="contrase単a">
<input class="boton" type="submit" name="" value="Acceder">
<p><a href="#">多olvidaste tu contrase単a?</a></p>
</section>