<div id="barralateral" >
	<div class="boton3l">
	<span> &#9776 </span>	
	</div>
	<ul>
		<li><img class="logo"></li>
		 <li>HOME</li>
		<li>registro de factura</li>
		<li>resumen de factura</li>
	</ul>
</div>
<section>
<h1>prueba para ver donde escribe </h1>
</section>
  